*
{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Roboto", sans-serif;
}
body {
   background-color: rgb(202, 198, 198);
   justify-content: center;
   align-items: center;
   min-height: 100vh;
}
.container1 {
  position: relative;
  width: 100%;
  max-width: 900px;
  min-height: 1000px;
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  box-shadow: 5px 5px 5px rgb(1,1,1,.1);
}
.container1 .left_side {
  position: relative;
  background: linear-gradient(rgb(30, 144, 255),rgb(5, 26, 46));
  padding: 40px;
  width: 300px;
  box-shadow: 5px 5px 2px rgb(1,1,1,.1);
  border: 1px solid black;
}
.photo {
  position: absolute;
  top: -20px;
  left: -10px;
  height: 300px;
  width: 300px;
  align-items: center;
}
.imgbox {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 270px;
  height: 270px;
  border-radius: 50%;
  overflow: hidden;
}
.profiletext {
  position: absolute;
  top: 290px;
  color: white;
  border-bottom: 3px solid rgb(16, 80, 143);
}
.profiletext h2 {
  font-size: 1.8em;
  margin-top: 10px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  }
.profiletext h2 span {
  font-size: .7em;
  font-weight: 150;
}
.contactInfo {
  position: absolute;
  top: 350px;
  left: 10px;
  padding-top: 40px
}
.contactInfo ul {
  color: white;
  margin: 10px;
}
.contactInfo ul li {
  list-style: none;
  font-size: 12px;
}
.contactInfo .icon {
  display: inline-block;
  width: 30px;
  font-size: 18px;
  color: rgb(25, 131, 238);
}
.education {
  position: absolute;
  top: 520px;
  left: 20px;
  padding-top: 10px;
}
.education h3 {
  font-size: 1.5em;
  font-weight: 500;
  color: white;
}
.education ul li {
  list-style: none;
  margin-left: 1px;
}
.education .text1 {
  font-size: 1.1em;
  font-weight: 700;
  color: rgb(25, 131, 238);
}
.education .text2 {
  font-size: .9em;
  font-weight: 500;
  padding: auto;
  color: white;
}
.achivements {
  position: absolute;
  top: 780px;
  left: 20px;
  padding-top: 10px;
}
.achivements h3 {
  font-size: 1.5em;
  font-weight: 500;
  color: white;
}
.achivements ul li {
  list-style-type: none;
}
.achivements .text1 {
  font-size: 1.1em;
  font-weight: 700;
  color: rgb(25, 131, 238);
}
.achivements .text2 {
  font-size: .9em;
  font-weight: 500;
  color: white;
}
.container2 .right_top {
  position: absolute;
  top: 0px;
  right: -600px;
  background: linear-gradient(rgb(173, 214, 255),rgb(255, 255, 255));
  padding: 40px;
  width: 580px;
  height: 700px;
  box-shadow: 5px 5px 2px rgb(1,1,1,.1);
  border: 1px solid black;
}
.skills h3 {
  position: absolute;
  top: 20px;
  font-size: 1.5em;
  font-weight: 500;
  color: rgb(25, 131, 238);
}
.skills ul li {
  list-style: none;
}
.skills .text1 {
  font-size: 1.1em;
  font-weight: 700;
}
.skills .text2 {
  font-size: .9em;
  font-weight: 500;
  padding: auto;
}
.container3 .right_bottom {
  position: absolute;
  bottom: 0px;
  right: -600px;
  background: linear-gradient(rgb(255, 255, 255),rgb(173, 214, 255));
  padding: 40px;
  width: 580px;
  height: 280px;
  box-shadow: 5px 5px 2px rgb(1,1,1,.1);
  border: 1px solid black;
}
.experiance h3 {
  position: absolute;
  top: 5px;
  font-size: 1.5em;
  font-weight: 500;
  color: rgb(25, 131, 238);
}
.experiance ul li {
  list-style: none;
}
.experiance.text1 {
  font-size: 1.1em;
  font-weight: 700;
}
